body {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 45%;
}

h1 {
    position: relative;
}

#textbox {
    border-color: black;
}

.container {
    position: absolute;
    top: 200px;
}

.output_canvas {
    position: relative;
    display: none;
}

.input {
    background-color: cadetblue;
    position: absolute;
}

.keyboard {
    height: 2cm;
    width: 2cm;
    outline-color: tomato;
    position: relative;
    left: 25%;
}

button {
    font-size: 0.5rem;
    padding: 0px;
    margin: 0px;
}

#myCanvas {
    display: none;
    margin-bottom: -4px;
}

.input_video {
    color: aqua;
    display: none;
}